

:root{
    --first-color: rgb(24, 117, 255);
    --first-color-light: rgb(168, 216, 255);
    --second-color: rgb(135, 91, 255);
}

body{
    color: white;
}


/* HEADER */

.header-top{
    background-color: var(--first-color);
}



/* MAIN */


/* SECTION 1 */

.card{
    background-color: var(--first-color-light);
}


/* SECTION 2 */

.section-2{
    background-color: var(--second-color);
}


.card-white{
    background-color: white;
}


/* SECTION 3 */

.card-violet{
    background-color: var(--second-color);
}

/* SECTION 4 */

.section-4{
    background-color: var(--second-color);
}