
@import url(colors.css);





/*************************************************
GENERAL STYLES
*************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}



img {
    max-width: 100%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 100%;
    margin: 0.625rem 0.625rem;
}

.card-white{
    width: 100%;
    height: 15.625rem;
    margin: 1.25rem .625rem;
    
}

.card-violet{
    width: 100%;
    height: 15.625rem;
    margin: 1.25rem .625rem;
}


/************************************************
SITE SECTIONS
************************************************/

/* HEADER */

.header-top .container{
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0.625rem;

}

.header-logo img{
    vertical-align: middle;
}

.header-nav{
    display: none;
    vertical-align: middle;
}

.header-nav ul{
    list-style: none;
    display: flex;
    
}

.header-nav ul li{
    padding: 0 1.25rem;
}

.header-nav ul li a{
    text-decoration: none;
    color: white;
    
}

.header-nav ul li a button{
    padding: 0.625rem 1.25rem;
    background-color: white;
    border-radius: 1.25rem;
    
}


.hamburger i{
    font-size: 1.875rem;

}


/* MAIN */


/* SECTION 1 */

.cards h3{
    color: var(--first-color);
    padding-bottom: .9375rem;
    text-align: center;


}

.cards p{
    color: black;
    text-align: center;
}

.cards a button{
    padding: .625rem 1.25rem;
    font-size: 15px;
    

} 
    









/* SECTION 2 */


.strategic-plan-card{
    height: 21.875rem;

}



/* SECTION 3 */

.testimonials{
    height: 15.625rem;
}


/* SECTION 4 */

.section-4-title{
    height: 12.5rem;
}


/* SECTION 5 */



/* FOOTER */



/*FOOTER-TOP*/




/*FOOTER-BOTTOM*/









/************************************************
    SOLUZIONE RESPONSIVE
************************************************/


/*TABLET*/

@media screen and (min-width: 768px){

    /*MAIN*/


    /*sezione-1*/

    .card{
        width: 31.5%;
    }
    
    .card-big{
        width: 64%;
    }

    .cards{
        margin-right: 0;
    }

    /*sezione-2*/

    /*sezione-3*/


    /*sezione-4*/

    .section-4 .cards .card-white{
        width: 45%;
    }





}

/*DESKTOP*/

@media screen and (min-width: 992px){

    /*HEADER*/

    .header-nav{
        display: block;
    }

    .hamburger{
        display: none;
    }

    /*MAIN*/

    .container{
        max-width: 71.25rem;
        margin: 0 auto;
    }


    /*sezione-2*/

    .strategic-plan-card{
        width: 45%;
    }

    .section-2 .cards .card-white{
        width: 45%;
    }


    /*sezione-3*/





    /*sezione-4*/

    .section-4 .cards .card-white{
        width: 30%;
    }









}
    




















