
@import url(colors.css);





/*************************************************
GENERAL STYLES
*************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}



img {
    max-width: 100%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 100%;
    height: 15.625rem;
    margin: 1.25rem .625rem;
}

.card-white{
    width: 100%;
    height: 15.625rem;
    margin: 1.25rem .625rem;
    
}

.card-violet{
    width: 100%;
    height: 15.625rem;
    margin: 1.25rem .625rem;
}


/************************************************
SITE SECTIONS
************************************************/

/* HEADER */

.header-top{
    display: flex;
    justify-content: space-between;

}

.header-nav{
    display: none;
}


/* MAIN */





/* SECTION 1 */



/* SECTION 2 */


.strategic-plan-card{
    height: 21.875rem;

}



/* SECTION 3 */

.testimonials{
    height: 15.625rem;
}


/* SECTION 4 */

.section-4-title{
    height: 12.5rem;
}


/* SECTION 5 */



/* FOOTER */



/*FOOTER-TOP*/




/*FOOTER-BOTTOM*/









/************************************************
    SOLUZIONE RESPONSIVE
************************************************/


/*TABLET*/

@media screen and (min-width: 768px){

    /*MAIN*/


    /*sezione-1*/

    .card{
        width: 30%;
    }
    
    .card-big{
        width: 60%;
    }

    /*sezione-2*/

    /*sezione-3*/


    /*sezione-4*/

    .section-4 .cards .card-white{
        width: 45%;
    }





}

/*DESKTOP*/

@media screen and (min-width: 992px){

    /*HEADER*/

    .header-nav{
        display: block;
    }

    .hamburger{
        display: none;
    }

    /*MAIN*/

    .container{
        max-width: 71.25rem;
        margin: 0 auto;
    }


    /*sezione-2*/

    .strategic-plan-card{
        width: 45%;
    }

    .section-2 .cards .card-white{
        width: 45%;
    }


    /*sezione-3*/





    /*sezione-4*/

    .section-4 .cards .card-white{
        width: 30%;
    }









}
    




















